* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

.btns:hover {
  background: #ccc;
  color: #323232;
}


.filter-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-list h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.filter-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-list label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-list input {
  cursor: pointer;
}

.filter-list input[type="radio"], 
.filter-list input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
}

.filter-list input[type="radio"]:checked, 
.filter-list input[type="checkbox"]:checked {
  accent-color: #0239c5;
}